<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">На головну</a>
    <div>
      <h1><%= ann.title %></h1>
      <div>
        <p>Ціна: <%= ann.price %> грн</p>
        <p>Опубліковано: <%= ann.createdAt.toLocaleDateString("uk-UA") %></p>
      </div>
      <p><%= ann.description %></p>
      <p><%= ann.contactInfo %></p>
      <button type="button" id="delete-btn">Видалити</button>
    </div>
  </body>
  <script>
    const deleteBtn = document.querySelector("#delete-btn");
    const announcementId = <%= ann.id %>;

    deleteBtn.addEventListener("click", async () => {
        if (!confirm("Ви впевнені що хочете видалити це оголошення?")) {
            return;
        }

        try {
            const response = await fetch(`/announcements/${announcementId}`, { method: "DELETE" });

            if (response.ok) {
                window.location.href = "/";
            } else {
                alert("Помилка при видаленні");
            }
        } catch (error) {
            alert("Помилка при видаленні");
        }
    });
  </script>
</html>
