<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="" method="get">
        <input
          type="search"
          name="search"
          placeholder="Шукати оголошення..."
          value="<%= queryData?.search || '' %>"
        />
        <select name="sort">
          <option value="newest" <%= !queryData?.sort || queryData?.sort === "newest" ? "selected" : "" %>>Новіші спочатку</option>
          <option value="oldest" <%= queryData?.sort === "oldest" ? "selected" : "" %>>Старіші спочатку</option>
        </select>
        <button type="submit">Знайти</button>
      </form>
      <a href="/announcements">Додати оголошення</a>
    </div>
    <ul>
      <% announcements.forEach(ann => { %>
        <li class="card card-<%= ann.category %>">
          <h3><%= ann.title %></h3>
          <p><%= ann.description.substring(0, 100) %><%= ann.description.length >= 100 ? "..." : "" %></p>
          <p><%= ann.price %> грн</p>
          <p><%= ann.contactInfo %></p>
          <p>Опубліковано <%= ann.createdAt.toLocaleDateString("uk-UA") %></p>
          <a href="/announcements/<%= ann.id %>">Детальніше</a>
        </li>
      <% }) %>
    </ul>
    <% if (announcements.total > 10) { %>
      <div>
        <% if (pagination.currentPage !== 1) { %>
          <a href="/?page=<%= pagination.currentPage - 1 %>&search=<%= queryData?.search %>&sort<%= queryData?.sort %>">Попередня</a>
        <% } %>
        <% if (pagination.currentPage !== pagination.totalPages) { %>
          <a href="/?page=<%= pagination.currentPage + 1 %>&search=<%= queryData?.search %>&sort<%= queryData?.sort %>">Наступна</a>
        <% } %>
      </div>
    <% } %>
  </body>
</html>
